<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>The Wandering Pad Thai: {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/static/itinerary/css/styles.css" />

    <!-- Flatpickr CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css"
    />

    <!-- Flatpickr JS -->
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
  </head>
  <body>

    {% load static %}
    {% block content %}{% endblock %}
    
  </body>
</html>
