{% load static %}

<form method="post">
    {% csrf_token %}
    <label for="id_title">Title:</label>
    {{ form.title }}

    <label for="id_days">Days:</label>
    {{ form.days }}

    <label for="id_start_date">Start Date:</label>
    <input type="date" id="id_start_date" name="start_date">

    <label for="id_end_date">End Date:</label>
    <input type="date" id="id_end_date" name="end_date">

    <button type="submit">Next</button>
</form>


<!-- Include Flatpickr CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

<script>
    document.addEventListener("DOMContentLoaded", function () {
        flatpickr("#id_start_date", {
            dateFormat: "Y-m-d",
        });
        flatpickr("#id_end_date", {
            dateFormat: "Y-m-d",
        });
    });
</script>
