{% extends "home/base.html" %} {% block title %}Itineraries{% endblock %} 

{% block content %}


<nav class="navbar">
  <div class="logo">
    <a href="{% url 'home' %}"
      ><span class="logo-text">The Wandering Pad Thai</span></a
    >
  </div>

  <div class="user-acc">
    <a href="{% url 'home' %}" class="user-acc-button">{{ user.name }}</a>
  </div>
</nav>


    <!-- {% if itineraries %}
    <table>
      <thead>
        <tr>
          <th>Title</th>
          <th>Days</th>
          <th>Start Date</th>
          <th>End Date</th>
          <th>Created At</th>
        </tr>
      </thead>
      <tbody>
        {% for itinerary in itineraries %}
        <tr>
          <td>{{ itinerary.title }}</td>
          <td>{{ itinerary.days }}</td>
          <td>{{ itinerary.start_date|default:"Not set" }}</td>
          <td>{{ itinerary.return_date|default:"Not set" }}</td>
          <td>{{ itinerary.created_at|date:"Y-m-d H:i" }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <p>
      You have no itineraries yet.
    </p>
    {% endif %} -->


<section class="trip-form-section">
  <div class="trip-form-section-content">


  </div>
</section>

{% endblock %}
